soapservice/src/main/resources/test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Quyet Le (Experian) -->
<!--
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// 12/20/2018 Removed ATBOutcomes, ApplicantBureauInfo and CoApplicantBureauInfo Complex Types- By Ashfaq
// 01/03/2019 Added ARFFiles Complex Type to receive multiple ARF 836 segments for passing Experian Premier Attributes - By Ashfaq
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sns="http://www.tfs.toyota.com/toyota_cap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tfs.toyota.com/toyota_cap" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" targetNamespace="http://www.tfs.toyota.com/toyota_cap">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:tns="http://www.tfs.toyota.com/toyota_cap" targetNamespace="http://www.tfs.toyota.com/toyota_cap">
      <!--Part of Request -->
      <xsd:element name="DecisionEngineEval" type="tns:DecisionEngineEval"/>
      <!--Part of Response -->
			<xsd:element name="DecisionEngineResponse" type="tns:DecisionEngineResponse"/>
      <!--Part of Response -->
			<xsd:element name="Fault" type="tns:Fault"/>
			<xsd:complexType name="Fault">
				<xsd:sequence>
					<xsd:element name="faultcode" type="xsd:string"/>
					<xsd:element name="faultstring" type="xsd:string"/>
					<xsd:element name="faultfactor" type="xsd:string"/>
					<xsd:element name="detail" type="tns:FaultDetail"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FaultDetail">
				<xsd:sequence>
					<xsd:element name="ErrorCode" type="xsd:string" maxOccurs="unbounded"/>
					<xsd:element name="ErrorMessage" type="xsd:string" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Request -->
			<xsd:complexType name="DecisionEngineEval">
				<xsd:annotation>
					<xsd:documentation>Root request element, includes the details of PrevAppDebtOfCoApplicant, Applicant, Co-Applicant details</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="AppNbr" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AliasName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Signature" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ApplicationInfo" type="tns:ApplicationInfo"/>
					<xsd:element name="ApplicantInfo" type="tns:ApplicantInfo" maxOccurs="2"/>
					<xsd:element name="CoApplicantInfo" type="tns:CoApplicantInfo" minOccurs="0" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="DecisionEngineResponse">
				<xsd:annotation>
					<xsd:documentation>Root response element, includes the details of request info, bureau data, and SM outcomes</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SMOutcomes" type="tns:SMOutcomes" minOccurs="0"/>
					<xsd:element name="CoApplicantInfo" type="tns:ResponseCoApplicantInfo" minOccurs="0" maxOccurs="2"/>
					<xsd:element name="ApplicantInfo" type="tns:ResponseApplicantInfo" minOccurs="0" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="SMOutcomes">
				<xsd:sequence>
					<xsd:element name="AppNbr" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevPctAdvanced" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevMSRP" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevEstDealerCost" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevPIR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppTerm" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevPaymentProbability" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAmountFinanced" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppTotalIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppTotalIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevProductType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppNbr" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevFinalDecisionDecCategory" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevDealerNumber" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MonthlyPayment" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SMDataInfo" type="tns:SMDataInfo" minOccurs="0"/>
					<xsd:element name="SMApplicationOutcomes" type="tns:SMApplicationOutcomes" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="SMApplicationOutcomes">
				<xsd:sequence>
					<xsd:element name="RiskScore" type="tns:ScorecardsOutcome" minOccurs="0"/>
					<xsd:element name="Pmt" type="tns:StrategyTableOutcome" minOccurs="0"/>
					<xsd:element name="XGrade" type="tns:DataOutcome" minOccurs="0"/>
					<xsd:element name="CreditRisk" type="tns:DataOutcome" minOccurs="0"/>
					<xsd:element name="FinalDecision" type="tns:DecisionCategoriesOutcome" minOccurs="0"/>
					<xsd:element name="AdverseAction" type="tns:DecisionOutcome" minOccurs="0"/>
					<xsd:element name="MultiAppRiskScore" type="tns:ScorecardsOutcome" minOccurs="0"/>
					<xsd:element name="MultiAppPmt" type="tns:StrategyTableOutcome" minOccurs="0"/>
					<xsd:element name="MultiAppXGrade" type="tns:DataOutcome" minOccurs="0"/>
					<xsd:element name="MultiAppCreditRisk" type="tns:DataOutcome" minOccurs="0"/>
					<xsd:element name="MultiAppFinancialInfo" type="tns:MultiAppFinancialInfo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
      
      <!--Part of Response -->
			<xsd:complexType name="SMDataInfo">
				<xsd:annotation>
					<xsd:documentation>Bureau Information from SDS</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="RandomNbrScriptNodeID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber1" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber2" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber3" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AmountFinanced">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ErrorCount" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ErrorCode" minOccurs="0" maxOccurs="100">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ErrorDesc" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="500"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Request -->
			<xsd:complexType name="ApplicationInfo">
				<xsd:annotation>
					<xsd:documentation>Application Info</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="DSSO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ProductType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppRcvdDate" type="xsd:date" minOccurs="0"/>
					<xsd:element name="ReScoreFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Program" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber1" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber2" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber3" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Dealership">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FICODecisioningScore">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VantageDecisioningScore" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Tier" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DeliveryChannel">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BusinessType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BrokerFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FinancialInfo" type="tns:FinancialInfo"/>
					<xsd:element name="CollateralInfo" type="tns:CollateralInfo"/>
					<xsd:element name="DealerNumber" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevApplicationReceivedDate" type="xsd:date" minOccurs="0"/>
					<xsd:element name="PrevContractApplicationFundingStatus" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevCreditApplicationDecisionStatus" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CountofMultipleApplications" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevMutiAppRiskScoreScorecardName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevRiskScoreScorecardName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppNbr" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevFinalDecisionDecCategory" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevDealerNumber" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevProductType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Request -->
			<xsd:complexType name="FinancialInfo">
				<xsd:annotation>
					<xsd:documentation>Financial Info</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="AmountFinanced">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CashPrice" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EstDealerCost" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CapCost" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MSRP" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NetCapCost" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PIR">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DIR">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PctAdvanced">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppTerm" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevPctAdvanced" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevMSRP" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevEstDealerCost" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevPIR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppTerm" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevPaymentProbability" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAmountFinanced" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppTotalIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppTotalIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppDIR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CombinedDIR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppMonthlyPayment" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MonthlyPayment" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="MultiAppFinancialInfo">
				<xsd:annotation>
					<xsd:documentation>MultiApp Financial Info</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="PCTAdvanced">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PIR">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Term" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Request -->
			<xsd:complexType name="CollateralInfo">
				<xsd:annotation>
					<xsd:documentation>CollateralInfo Info</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="VehicleMake">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VehicleType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VehicleAge" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Request -->
			<xsd:complexType name="ApplicantInfo">
				<xsd:annotation>
					<xsd:documentation>Applicant information</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="AppAge" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MthsAtCurrentJob" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MthsAtCurrentRes" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ApplicantEducLvl" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HousingType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ExistingAcctFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MultipleAppFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AddrDiscrepancyFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RedFlagAlert" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IdentityAlert" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ActiveMilitaryAlert" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppSSNInvalid" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ConsumerStatement" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OFACAlert" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RetiredFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EmployedFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NbrOfOpenTaxLiens" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DecisionCBName">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ApplicantBureauInfo" type="tns:ApplicantBureauInfo"/>
					<xsd:element name="PrevAppDebtOfApplicant" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DebtOfApplicant" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrevAppMonthlyIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppMonthlyIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NameDiscrepancyFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PhoneNumberDiscrepancyFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SSNDiscrepancyFlag" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CVIscore" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      
      <!--Part of Request -->
			<xsd:complexType name="ApplicantBureauInfo">
				<xsd:annotation>
					<xsd:documentation>Applicant Bureau Information</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
          <!--Part of Request Only-->
					<xsd:element name="BureauInfo" type="tns:ApplicantBureauData" minOccurs="0"/>
      	</xsd:sequence>
			</xsd:complexType>
      <!--Part of Request -->
			<xsd:complexType name="ApplicantBureauData">
				<xsd:sequence>
					<xsd:element name="AppFICOScore">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppVantageScore">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
          <xsd:element name="BureauHitNoHitFlag" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <!--<xsd:element name="ARFFile" type="xsd:base64Binary" minOccurs="0"/>-->
					<xsd:element name="ARFFiles" type="tns:ARFFiles" minOccurs="0" maxOccurs="5"/>
				</xsd:sequence>
			</xsd:complexType>
      <xsd:complexType name="ARFFiles">
        <xsd:annotation>
          <xsd:documentation>ARF File collections for Experian Premier Attributes and TU Credit Vison Score</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ARFFile" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!--Part of Response -->
			<xsd:complexType name="CoApplicantInfo">
				<xsd:annotation>
					<xsd:documentation>CoApplicantInfo information</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="AppType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ApplicantInfo" type="tns:ApplicantInfo" minOccurs="0"/>
					<xsd:element name="PrevCoAppType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="DataOutcome">
				<xsd:sequence>
					<xsd:element name="StandardOutcomes" type="tns:StrategyOutcome" minOccurs="0"/>
					<xsd:element name="Grade" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="StrategyTableOutcome">
				<xsd:sequence>
					<xsd:element name="Payment" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Probability" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="StandardOutcomes" type="tns:StrategyOutcome" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="ScorecardsOutcome">
				<xsd:sequence>
					<xsd:element name="RnkAdvReasonCd" minOccurs="0" maxOccurs="4">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="StandardOutcomes" type="tns:StrategyOutcome" minOccurs="0"/>
					<xsd:element name="ScorecardOutcome" type="tns:ScorecardOutcome" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="ScorecardOutcome">
				<xsd:sequence>
					<xsd:element name="Score" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ScorecardID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AdverseReasonCd" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ResultsTable" type="tns:ResultsTable" minOccurs="0"/>
					<xsd:element name="Name" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="DecisionCategoriesOutcome">
				<xsd:sequence>
					<xsd:element name="ScriptNodeID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="StandardOutcomes" type="tns:StrategyOutcome" minOccurs="0"/>
					<xsd:element name="DecisionCategoryOutcome" type="tns:DecisionCategoryOutcome" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="ResultsTable">
				<xsd:sequence>
					<xsd:element name="Result" type="tns:Result" minOccurs="0" maxOccurs="100"/>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="Result">
				<xsd:sequence>
					<xsd:element name="Type" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ReasonCode" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Rule" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Element" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Score" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ScoreDeviation" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Value1" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Value2" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="DecisionCategoryOutcome">
				<xsd:sequence>
					<xsd:element name="Category" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ReasonCode" minOccurs="0" maxOccurs="20">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Text" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="StrategyOutcome">
				<xsd:sequence>
					<xsd:element name="NodeID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OutcomeName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RandomNumber" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TestGroupID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TestGroupName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TestGroupSetID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TestGroupSetName" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="DecisionOutcome">
				<xsd:sequence>
					<xsd:element name="ScriptNodeID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:totalDigits value="7"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RsnCode1" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RsnCode2" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RsnCode3" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RsnCode4" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="ResponseCoApplicantInfo">
				<xsd:sequence>
					<xsd:element name="PrevCoAppType" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DebtOfCoApplicant" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CoAppMonthlyIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
  				</xsd:sequence>
			</xsd:complexType>
      <!--Part of Response -->
			<xsd:complexType name="ResponseApplicantInfo">
				<xsd:sequence>
					<xsd:element name="DebtOfApplicant" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AppMonthlyIncome" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="8"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
 			</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="DecisionEngineEval">
		<wsdl:part name="request" element="sns:DecisionEngineEval">
			<wsdl:documentation>
			data container that holds the request data
			</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DecisionEngineResponse">
		<wsdl:part name="response" element="sns:DecisionEngineResponse">
			<wsdl:documentation>
			data container that holds the response from service 
			</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="faultException" element="sns:Fault"/>
	</wsdl:message>
	<wsdl:portType name="ToyotaCAPPortType">
		<wsdl:operation name="getDecisionEngineResult">
			<wsdl:documentation>
			executes getResponse call on TFS system
			</wsdl:documentation>
			<wsdl:input name="request" message="sns:DecisionEngineEval"/>
			<wsdl:output name="response" message="sns:DecisionEngineResponse"/>
			<wsdl:fault name="failed" message="sns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ToyotaCAPBinding" type="tns:ToyotaCAPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getDecisionEngineResult">
			<soap:operation soapAction="getDecisionEngineResult"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="failed">
				<soap:fault name="failed" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<service name="CAPService">
		<wsdl:documentation>Toyota CAP webservice</wsdl:documentation>
		<port name="CAPService" binding="tns:ToyotaCAPBinding">
			<soap:address location="http://localhost:8080/cap/services/CAPService"/>
		</port>
	</service>
</wsdl:definitions>